# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# Tratamento de arquivos de projeto Godot
*.tscn text eol=lf
*.tres text eol=lf
*.gd text eol=lf
*.shader text eol=lf
*.glsl text eol=lf
*.cfg text eol=lf
*.import text eol=lf
*.json text eol=lf
*.svg text eol=lf

# Arquivos binários (não tratar como texto)
*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.exe binary
*.dll binary
*.so binary
*.pck binary
*.zip binary
*.otf binary
*.ttf binary

# Arquivo do Godot
project.godot text eol=lf

# Ignore conflitos automáticos em cenas e recursos do Godot
*.tscn merge=union
*.tres merge=union
